@charset "UTF-8";
body {
  background: #f8f3f3;
}

body .container {
  background: #fff;
}

a:hover {
  text-decoration: none;
}

.fas.fa-square-full {
  padding-right: 4px;
  font-size: 5px;
  color: #cc5c09;
}

.fas.fa-plus {
  font-size: 13px;
  padding: 0 5px 0 9px;
  color: #d34343;
}

img:hover {
  opacity: 0.8;
}

/*=============================================================
HEADER
=============================================================*/
#top-time-search {
  background: #f2eded;
}

#top-time-search .container {
  background: #f2eded;
}

#top-time-search .container p {
  margin: 5px 0;
  font-size: 12px;
}

#top-time-search .navbar-form {
  margin-top: 2px;
  margin-bottom: 3px;
}

#top-time-search .form-control {
  border-radius: 0;
  height: 21px;
  font-size: 11px;
}

#top-time-search .btn {
  border-radius: 0;
  padding: 2px 8px;
  font-size: 11px;
  margin-top: 2px;
}

.banner-top .mobile {
  display: none;
}

.navbar {
  min-height: 35px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .container {
  background-color: #084773;
}

.navbar-default .navbar-nav > li {
  border-right: 1px solid #837e7e;
}

.navbar-default .navbar-nav > li:last-child {
  border-right: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #4267b2;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #beff00;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.nav > li > a {
  padding: 6px 10px;
}

/*=============================================================
SLIDE TEXT
=============================================================*/
.slide-text .breadcrumb {
  padding: 0;
  margin-bottom: 0;
}

.slide-text .breadcrumb li {
  float: left;
}

.breadcrumb li h4 {
  margin-top: 0;
}

.breadcrumb li a {
  background: #D3D3D3;
  padding: 0 8px 0 15px;
  height: 26px;
  display: block;
  float: left;
  font: 400 14px/25px "Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: nowrap;
  position: relative;
  color: #000;
}

.slide-text .bder-l3 {
  border-left: 3px solid #084773;
}
.slide-text .breadcrumb .start a {
  font-weight: 700;
  background: #eceeed;
  border-left: 3px solid #084773;
  padding: 0 8px;
  margin-left: 0;
  z-index: 99;
}

.breadcrumb li a:after {
  content: "";
  position: absolute;
  right: -13px;
  top: 0;
  border-left: 13px solid #D3D3D3;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  z-index: 999;
}

.breadcrumb .start a:after {
  border-left: 13px solid #eceeed !important;
}

.breadcrumb > li + li:before {
  content: none;
}

.slide-text {
  background: #ece8e8 !important;
}

.slide-text p {
  margin: 0;
}

.slide-text a {
  color: #333;
}

#news-top {
  overflow: hidden;
}

#myCarousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none;
}
#myCarousel .list-group-item {
  border: none;
  border-radius: 0px;
  padding: 3px 2px 3px 0;
  border-radius: 0px;
  border-bottom: 1px dotted #e2e2e3;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
#myCarousel .list-group-item.active {
  background-color: #fff;
}
#myCarousel .list-group-item.active a {
  /*background-color:#fcfcfc;*/
  color: #0486f6;
}
#myCarousel .list-group-item:last-child {
  border-bottom: none;
}

.image_slider {
  padding: 20px 10px 0 0;
  border-right: 1px solid #E2E2E3;
}

.carousel-inner img {
  width: 100%;
  height: 300px !important;
}

.list_slider {
  padding: 0 0 0 10px;
}

.list-group li h4 {
  font-size: 15px;
  margin: 0 0 5px 0;
  /* font-weight: 600; */
  line-height: 23px;
}

.list-group li p {
  overflow: hidden;
  height: 58px;
}

.list-group {
  overflow-y: scroll;
  height: 300px;
}

.list-group a {
  color: #000;
}

/*=============================================================
CONTENT
=============================================================*/
#content {
  border-right: 1px solid #ccc;
  margin-top: 10px;
}

#news-new {
  padding-top: 15px;
}
#news-new .media {
  border-bottom: 1px dotted #e2e2e3;
}
#news-new h2 {
  font-size: 16px;
  background: #ccc;
  padding: 4px 8px;
}
#news-new h4 {
  font-size: 14px;
  color: #5757ac;
}
#news-new p a {
  color: #000;
  font-weight: 500;
}
#news-new p span {
  padding-left: 3px;
  font-size: 12px;
  font-style: italic;
}

.news-right h2 {
  font-size: 16px;
  background: #ccc;
  padding: 4px 8px;
}

/*=============================================================
videoList
=============================================================*/
#videoList #scroll_pane_right h1.title {
  font-size: 20px;
  font-weight: bold;
}

/*=============================================================
SIDEBAR
=============================================================*/
#sidebar {
  margin-top: 27px;
}

#sidebar .media {
  margin-top: 15px;
}

#sidebar h4 a {
  color: #000;
  font-size: 14px;
}

.nav.nav-tabs a {
  text-transform: uppercase;
}

.tab-content h2 {
  font-size: 15px;
}

/*=============================================================
FOOTER
=============================================================*/
footer {
  background: #0a406c;
}

footer p, footer h3 {
  color: #fff;
  text-align: center;
  margin: 7px;
}

footer ul {
  padding-left: 15px;
}

footer ul li, footer ul li a {
  color: #fff;
}

/* TagCategory */
.tabCategory .breadcrumb {
  padding: 0;
  margin-bottom: 0;
}

/* TagCategory */
/*Chi tiết tin tức*/
.content-area {
  padding: 0;
  padding-right: 9px;
  border-right: 1px solid #E2E2E3;
}

.title_box_category {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding-left: 10px;
  white-space: nowrap;
  min-height: 30px;
  border-top: 2px solid #727272;
}

.box_category {
  width: 100%;
  margin-bottom: 15px;
  float: left;
}

.box_category .list_news {
  padding: 0 2.5% 1% 0;
}

#samecategory .list_news:nth-child(3n), .box_cothebanquantam .list_news:nth-child(4n) {
  padding-right: 0;
}

.box_cothebanquantam .list_news:nth-child(4n+1), #samecategory .list_news:nth-child(3n+1) {
  clear: left;
}

.thumb_art img {
  width: 100%;
}

.title_news a {
  font: 400 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

h3.title_news {
  margin: 0;
  line-height: 10px;
}

#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 27px;
  right: 20px;
  color: #0087fe;
  padding: 15px;
  font-size: 45px;
}

.wrap_xemthem {
  width: 100%;
  float: left;
  margin: 0 0 15px 0;
  padding-top: 5px;
  border-top: 1px solid #e2e2e3;
}

ul.list_title a {
  color: #04416D;
  font: 400 14px/21px arial;
}

/*# sourceMappingURL=global.css.map */
